decorator==4.0.9
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.9.5
django-crispy-forms==1.6.0
django-toolbelt==0.0.1
django-wysiwyg-redactor==0.4.9
gunicorn==19.4.5
ipdb==0.9.1
ipython==4.1.2
ipython-genutils==0.1.0
pathlib2==2.1.0
pexpect==4.0.1
pickleshare==0.7.2
Pillow==2.8.1
psycopg2==2.6.1
ptyprocess==0.5.1
simplegeneric==0.8.1
six==1.10.0
static3==0.6.1
traitlets==4.2.1
whitenoise==1.0.6
