{% extends 'core/base.html' %}
{% load i18n staticfiles %}

{% block page_icon %}glyphicon glyphicon-book{% endblock %}
{% block page_title %}{{ doc.title }}{% endblock %}
{% block page_intro %}{{ doc.description }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-9">
        <div class="well">
            {% include doc.template %}
        </div>
    </div>
    <div class="col-xs-3">
        <div id="side-menu" data-spy="affix" data-offset-top="252" data-offset-bottom"50">
            <ul class="nav nav-list">
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<link rel="stylesheet" href="{% static doc.style %}" />
<script type="text/javascript">
    $(document).ready(function() {
        $('#nav-document').addClass('active');
        
        $('.document h1, .document h2').each(function(){
            var title = $(this).children().html();
            var id = $(this).attr('id');

            if(title == undefined){
                title = $(this).html();
            }

            if($(this)[0].tagName == "H2"){
                $('#side-menu > ul').append("<li><ul><li><a href='#"+id+"'>"+title+"</a></li></ul></li>");
            }else{
                $('#side-menu > ul').append("<li><a href='#"+id+"'>"+title+"</a></li>");
            }
        }); 
    });
</script>
{% endblock %}

