{% extends 'core/base.html' %}
{% load i18n staticfiles %}

{% block page_icon %}glyphicon glyphicon-book{% endblock %}
{% block page_title %}{{ doc.title }}{% endblock %}
{% block page_intro %}{{ doc.description }}{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="image-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="modal-img">
                    <img src="#" />
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        Auteur : <span id="modal-author"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        License: <a id="modal-link" href="#" target="blank"><span id="modal-licence"></span></a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-9">
        <div class="well">
            {% include doc.template %}
        </div>
    </div>
    <div class="hidden-xs">
        <nav class="col-sm-3 document-sidebar">
            <div id="side-menu" data-spy="affix" data-offset-top="252" data-offset-bottom"50">
                <ul class="nav nav-stacked fixed">
                </ul>
            </div>
        </nav>
    </div>
</div>
{% endblock %}

{% block script %}
<link rel="stylesheet" href="{% static 'document/css/default_doc.css' %}" />
{% if doc.style %}
<link rel="stylesheet" href="{% static doc.style %}" />
{% endif %}

<script type="text/javascript">
    $(document).ready(function() {
        $('#nav-document').addClass('active');
        
        $('.document h1, .document h2').each(function(){
            var id = $(this).attr('id');
            var title = ''; 

            $(this).find('div').each(function(){
                title += $(this).text();
            });
            if(title == ''){
                title = $(this).text();
            }

            if($(this)[0].tagName == "H2"){
                $('#side-menu > ul > li:last-child > ul').append("<li><a class='goto' href='#"+id+"'>"+title+"</a></li>");
            }else{
                $('#side-menu > ul').append("<li><a class='goto' href='#"+id+"'>"+title+"</a><ul class='nav nav-stacked'></ul></li>");
            }
        }); 

        $('.document figure a').on('click', function(){
            $('#modal-title').text($(this).attr("data-title"));
            $('#modal-author').text($(this).attr("data-author"));
            $('#modal-licence').text($(this).attr("data-licence"));
            $('#modal-link').attr('href', $(this).attr("data-link"));
            $('#image-modal img').attr('src', $(this).children("img").attr('src'));
            $('#image-modal').modal();
        });

        $("a.goto").click(function() {
              var target = $(this).attr("href")
              target = target.substring(1,target.length);
              console.log(target);
              var offset = $('#'+target).offset().top -60;
              console.log(offset);
              $(window).scrollTop(offset); 
              return false; 
            });

        $('.document.timeline .event a').on('click', function(){
            var event_div = $(this).parents('.event');
            var description = event_div.find('.description');
            var title = event_div.find('.title');

            if(description.is(':visible')){
                description.slideUp();
                title.find('span.glyphicon-menu-up').removeClass('glyphicon-menu-up').addClass('glyphicon-menu-down');
            }else{
                description.slideDown();
                title.find('span.glyphicon-menu-down').removeClass('glyphicon-menu-down').addClass('glyphicon-menu-up');
            }
        });

        $('#image-modal').on('shown.bs.modal', function () {
            $('#image-modal').focus()
        })
    });
</script>
{% endblock %}

