{% extends "core/base.html" %}
{% load i18n %}

{% block page_icon %}glyphicon glyphicon-flag{% endblock %}
{% block page_title %}{% trans 'Latest news' %}{% endblock %}
{% block page_intro %}{% trans 'Read the latest news from Europa 507.' %}{% endblock %}

{% block content %}
    {% if latest_news_list %}
        <p>{% trans 'Here is the list of the 5 latest news :' %}</p>
        <ul>
        {% for news in latest_news_list %}
            <li><a href="{% url 'news:detail_view_url' news.id %}">{{ news.message }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No news published.</p>
    {% endif %}
{% endblock %}
