@font-face {
    font-family: "Flaticon";
    src: url("europa.396166aa92c9.eot");
    src: url("europa.396166aa92c9.eot#iefix") format("embedded-opentype"),
    url("europa.ac176186e4a0.woff") format("woff"),
    url("europa.6808c3f1fc15.ttf") format("truetype"),
    url("europa.30cff2b6e8bf.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
}

.flaticon-crown:before {
    content: "\e000";
}

.flaticon-olive:before {
    content: "\e001";
}
